<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample 4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/flat-ui/images/favicon.ico">

        <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
        
        <!-- Using only with Flat-UI (free)-->
            <link rel="stylesheet" href="/common-files/css/icon-font.css">
        <!-- end -->  
        
        <link rel="stylesheet" href="/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="/flat-ui/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

<!-- header-10 -->
        <header class="header-10">
            <div class="container">
                <div class="navbar span12">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar"> </button>
                        <a class="brand" href="#"><img src="/img/magnum.png"></img>magnum research group</a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="#">Papers</a></li>
								<li><a href="#">MOOCs</a></li>
                                <li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
                            </ul>
                            <form class="navbar-form pull-left">
                                <a class="btn bg-nephritis" href="#">Join Us</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

		<%= yield %>

		<section class="content-11">
            <div class="container">
                <span>Interested in what we do?</span>
                <a class="btn btn-large btn-danger" href="http://scholar.google.com/scholar?hl=en&q=jules+white&btnG=&as_sdt=1%2C43&as_sdtp=">Read Our Papers</a>
            </div>
        </section>
		<!-- footer-3 -->
        <footer class="footer-3">
            <div class="container">
                <div class="row v-center">
                    <div class="span6">                        
                        <div class="span2">
                            <img src="/img/vanderbilt.png"></img>
                        </div>
						<div class="span2">
						 <a href="http://www.isis.vanderbilt.edu">
								<img src="/img/isis.png"></img>
								</a>
						</div>
                    </div>
					<div class="span6">                        
                        <div class="span2">
                            <img src="/img/magnum-footer.png"></img>
                        </div>                       
                        <div class="span3">
                            <h6>The Magnum Research Group</h6> 
							Institute for Software Integrated Systems,
                            1025 16th Ave South,
							Suite 102,
							Nashville, TN 37212
                        </div>
                    </div>
                </div>
				<div class="row" style="margin-top:40px">
				 <small>Design template from designmodo.com and textures by subtlepatterns.com. Many thanks for these incredible design resources.</small>
				</div>
            </div>
        </footer>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/flat-ui/js/jquery-1.8.3.min.js"></script>
        <script src="/flat-ui/js/bootstrap.min.js"></script>
        <!--[if lt IE 8]>
        <script src="/flat-ui/js/icon-font-ie7.js"></script>
        <![endif]-->
        <script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/common-files/js/jquery.parallax.min.js"></script>
        <script src="/common-files/js/startup-kit.js"></script>
        <script src="/js/jquery.backgroundvideo.min.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>
