<% wrap_layout :layout do %>
	
	<section style="background:#EEEEEE" class="content-6">
			<div class="container">
                        <p>
						  	
							<% current_page.data.Papers.each do |key,items| %>
							
							    
							<h4><%= key %></h4>
							<ol>
								<% items.each do |value| %>
									<li><%= value %></li>
								<% end %>
							</ol>
							
							<% end %>
						</p>
					
							
                           <%= yield %>
						   
                        </p>
            </div>
            
    </section>

<% end %>