
<!-- content-8  -->
        <section class="content-8 v-center">
            <div>               
                <div class="container">
                    <img src="/img/magnum_multicolor_logo.png" style="height:200px" alt="">                    
                    <h3>The Magnum Research Group</h3>
                    <div class="row">
                        <div class="span6 offset3">
                            <p> Email us at: <a href="mailto:jules.white@vanderbilt.edu">jules.white@vanderbilt.edu</a> -- Otherwise, our address is below.
                            </p>                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
 

