
 <section class="header-10-sub v-center bg-midnight-blue">
            <div class="background" style="background:url(/img/ipadinhands.jpg); background-size:100% auto;">&nbsp;</div>
            <div>
                <div class="container">
                      <div class="hero-unit">
                        <h1>The Magnum Research Group</h1>
                        <p>
                           The Mobile Application computinG, optimizatioN, and secUrity Methods Research Group focuses on
						   the science of creating next-generation mobile and cloud applications that sense the world around
						   us and are secure, efficient, and scalable.
                        </p>
				</div>
    
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>       
 
 		
<!-- content-8  -->
        <section class="content-8 v-center">
            <div>               
                <div class="container">
                    <img src="/img/mobilecloud.png" width="397" height="193" alt="">                    
                    <h3>Mobile/Cloud Cyber-physical Systems</h3>
                    <div class="row">
                        <div class="span6 offset3">
                            <p>Our research makes your mobile device aware of its surroundings - able to 
							protect itself, help you make decisions, and interpret what you are doing. 
                            </p>                            
                            <a class="btn btn-large btn-clear" href="https://scholar.google.com/citations?user=10HSX90AAAAJ&hl=en">Read One of Our Papers</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
<!-- content-23  -->
        <section class="content-23 v-center bg-midnight-blue custom-bg" style="background:url(/img/research.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size:100%;">
            <div>                
                <div class="container">
                    <div class="hero-unit hero-unit-bordered">
                        <h1>Peak into our research</h1>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

		       
<!-- content-7  -->
        <section class="content-7 v-center">
            <div>
               
                <div class="container">
                    <h3>A selection of our research projects</h3>
                    <div class="row v-center" style="vertical-align:top; ">
                        <div class="span3" style="vertical-align:top;">                            
                            <div class="span3">
							<div class="roundedimg" style=background:url(/img/ghostbox.jpg);opacity:0.3;"></div>
                                <span style="color:red">GhostBox</span> is a research project focused on 
								location-based control of mobile security. This project led to the launch
								of Optio Labs, backed by $2.5M in venture funding.
                            </div>
                        </div>
                        <div class="span4" style="vertical-align:top;">                            
						    <div class="span1">&nbsp;</div>
                            <div class="span3" style="font-size:22px; line-height:32px;">
							<div class="roundedimg" style="background:url(/img/hd4ar.png);opacity:0.3;background-size: 175% auto;background-position:-100px 0"></div>
                                <span style="color:red">HD4AR</span> is a mobile/cloud augmented reality
								project. This project
								has won 2 best paper awards and industry awards at CES and SXSW. The project
								spawned PAR Works, a venture backed startup with $1.5M in funding.
                            </div>
                        </div>
                        <div class="span4" style="vertical-align:top;">                            
						    <div class="span1">&nbsp;</div>
                            <div class="span3" style="font-size:22px; line-height:32px;">
							<div class="roundedimg" style=background:url(/img/attackcloud.png);opacity:0.3;"></div>
                                <span style="color:red">The Ataack Cloud</span> is a mobile testbed
								that allows researches to run coordinated experiments with 100s or
								1,000s of Android emulators. The testbed was funded by a grant from
								the Army Research Office.
                            </div>
                        </div>
                    </div>
					<div class="row v-center" style="margin-top:50px">
                        <div class="span3" style="vertical-align:top;">                            
                            <div class="span3">
							<div class="roundedimg" style=background:url(/img/soda.jpg);opacity:0.3;"></div>
                               <span style="color:red">Soda</span> is a project to develop the
							   next-generation of HTTP-based distributed object computing frameworks and
							   vastly simplify mobile/cloud integration. 
							   <a href="https://github.com/VT-Magnum-Research/sodacloud">
							   Try our opensource implementation.</a>
                            </div>
                        </div>
                        <div class="span4" style="vertical-align:top;">                            
						    <div class="span1">&nbsp;</div>
                            <div class="span3" style="font-size:22px; line-height:32px;">
							<div class="roundedimg" style=background:url(/img/nerd.png);opacity:0.3;"></div>
                                <span style="color:red">NERD</span> is a platform for rapidly
								developing and distributing mobile apps to monitor and operate
								industrial control systems.
                            </div>
                        </div>
                        <div class="span4" style="vertical-align:top;">                            
						    <div class="span1">&nbsp;</div>
                            <div class="span3" style="font-size:22px; line-height:32px;">
							<div class="roundedimg" style=background:url(/img/scatterd.png);background-size:200%;opacity:0.3;"></div>
                                <span style="color:red">ScatterD</span> is a set of heuristic/metaheuristic
								algorithms for optimizing the allocation of computing resources in cloud
								computing environments to reduce cost and improve quality of service.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!-- content-23  -->
        <section class="content-23  v-center bg-midnight-blue">
            <div id="bgVideo" class="background"></div>
            <div>                
                <div class="container">
                    <div class="hero-unit">
                        <h1>We make MOOCs <br class="hidden-phone">(massively open online courses)</h1>
                        <a class="btn btn-large btn-clear" href="https://www.coursera.org/course/mobilecloud">Sign-up on Coursera</a>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

<!-- content-8  -->
        <section class="content-8 v-center" id="people">
            <div>               
                <div class="container">
                   <div class="row">
                    <h3>Faculty &amp; Staff</h3>                       
                        <div class="span2" style="text-align:center; width:220px">
                         <a href="/people/jules.html">
                          <div class="roundedimg" style="background:url(/img/people/jules.jpg);opacity:0.6;background-size:90%"></div>
                          Dr. Jules White, Research Group Director
                          </a>
                        </div>
                     </div>
															       
		     <div class="row">
                     <h3>Students</h3>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Zhongwei Teng, Ph.D. Student
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Carlos Olea, Ph.D. Student
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Michael Sandborn, Ph.D. Student
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Quchen Fu, Ph.D. Student
                        </div>
		     </div>
                     <div class="row">
                       <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Yu Yao, Visiting Ph.D. Student
                        </div>

                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Gabriela Gresenz, M.S. Student
                        </div>

                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/vanderbilt.jpg);opacity:0.6;background-size:100%"></div>
                          Xiaoxing Qiu, M.S. Student
                        </div>
                     </div>
				     
                     <div class="row">
                     <h3>Alumni</h3>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/yu.jpg);opacity:0.6;background-size:100%"></div>
                          Dr. Yu Sun, Associate Professor, Dept. of Computer Science, Cal Poly Pomona
                        </div>


                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/hamilton.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Hamilton Turner, CTO & Entrepreneur 
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/joon.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Hyojoon Bae, Senior Research Scientist, Apple
                        </div>   
                       <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(https://722694.smushcdn.com/1292217/wp-content/uploads/2020/11/image001.jpg?lossy=1&strip=1&webp=1);opacity:0.6;background-size:100%"></div>
                          Dr. Dana Zhang, Assistant Professor, Dept. of Computer Science, Belmont University
                        </div>     
                    </div>
                    <div class="row">          
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/brandon.jpg);opacity:0.6;background-size:85%"></div>
                          Dr. Brandon Amos, Research Scientist, Facebook AI
                        </div>
                   
                     <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/tad.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Thaddeus Czauski, Lockheed Martin
                        </div>
                    <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/yao.jpg);opacity:0.6;background-size:110%"></div>
                          Dr. Yao Pan, Senior Software Engineer in AI, LinkedIn
                        </div>  
                    <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(https://media-exp1.licdn.com/dms/image/C5603AQHVAi8gQ3SW2w/profile-displayphoto-shrink_200_200/0?e=1611187200&v=beta&t=S4EIfE6GbRA7HN2mYAAweUkA4oogkzpYT5UdArWUQSA);opacity:0.6;background-size:110%"></div>
                          Dr. Fangzhou Sun, Research Scientist, Facebook
                        </div>  
                    </div>
                    
                    <div class="row">
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/brian.jpg);opacity:0.6;background-size:100%;background-position:0px 0px"></div>
                          Dr. Brian Dougherty, COO, Briovation
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/danny.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Daniel Guymon, Lead Cloud Architect, Northrup Grumman
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/ben.png);opacity:0.6;background-size:120%"></div>
                          Ben Gotow, Entrepreneur 
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/chris.jpg);opacity:0.6;background-size:80%;background-position:10px 0px"></div>
                          Chris Thompson, Entrepreneur 
                        </div>

                    </div>
                    <div class="row">
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/paul.jpg);opacity:0.6;background-size:100%;background-position:-40px 0px"></div>
                          Paul Miranda, Software Development Manager, Amazon 
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/zach.jpg);opacity:0.6;background-size:120%;background-position:-40px 0px"></div>
                          Zach McCormick, Engineering Senior Manager, Braze
                        </div>  
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/jordan.jpg);opacity:0.6;background-size:200%;background-position:-100px -40px"></div>
                          Jordan Schweigert, Aerospace Engineer, Busek
                        </div>   
                    </div>

                </div>
            </div>
        </section>

<!-- content-11  -->

