
<!-- content-8  -->
        <section class="content-8 v-center">
            <div>               
                <div class="container">
                                  
                    <h3>Meet the Magnum team</h3>
                    <div class="row">
                    <h3>Faculty &amp; Staff</h3>
                    <div class="span3">&nbsp;</div>
                    <div class="span2" >
                         
                          <div class="roundedimg" style="background:url(/img/people/jules.jpg);opacity:0.6;background-size:90%"></div>
                          Dr. Jules White, Research Group Director
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/yu.jpg);opacity:0.6;background-size:100%"></div>
                          Dr. Yu Sun, Research Associate
                        </div>
                    </div>
                    <div class="row">
                    <h3>Students</h3>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/hamilton.jpg);opacity:0.6;background-size:120%"></div>
                          Hamilton Turner, Ph.D. Candidate (2 Best Student Paper Awards)
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/joon.jpg);opacity:0.6;background-size:120%"></div>
                          Hyojoon Bae, Ph.D. Candidate (2 Best Paper Awards)
                        </div>                  
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/tad.jpg);opacity:0.6;background-size:120%"></div>
                          Thaddeus Czauski, Ph.D. Candidate
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/na.jpg);opacity:0.6;background-size:120%"></div>
                          Lisa Durbeck, Ph.D. Candidate
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/yao.jpg);opacity:0.6;background-size:85%"></div>
                          Yao Pan, Ph.D. Candidate
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/weichen.jpg);opacity:0.6;background-size:85%"></div>
                          Weichen Wang, MS Candidate
                        </div>
                        <div class="span2">
                          <div class="roundedimg" style="background:url(/img/people/brandon.jpg);opacity:0.6;background-size:85%"></div>
                          Brandon Amos, CRA Undergraduate Researcher of the Year Honorable Mention
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/austin.jpg);opacity:0.6;background-size:85%"></div>
                          Austin Hanlin, Undergraduate Researcher
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/george.jpg);opacity:0.6;background-size:85%"></div>
                          Geroge Burgess, Undergraduate Researcher
                        </div>
  
                    </div>
                    <div class="row">
                    <h3>Alumni</h3>
                                          <div class="span2">
                          <div class="roundedimg" style="background:url(/img/people/.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Dr. Brian Dougherty, Entrepreneur & Director of Engineering at Optio Labs 
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/ben.png);opacity:0.6;background-size:120%"></div>
                          Ben Gotow, Entrepreneur 
                        </div>
                                                <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Chris Thompson, Entrepreneur 
                        </div>
                        <div class="span2 offset1">
                          <div class="roundedimg" style="background:url(/img/people/paul.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Paul Miranda, Amazon 
                        </div>
                        <div class="span2">
                          <div class="roundedimg" style="background:url(/img/people/danny.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Daniel Guymon, Northrup Gruman Future Technical Leader 
                        </div>

                    </div>
                </div>
            </div>
        </section>