
<!-- content-8  -->
        <section class="content-8 v-center">
            <div>               

 <div class="container">
                   <div class="row">
                    <h3>Faculty &amp; Staff</h3>                       
                        <div class="span2" style="text-align:center; width:220px">
                         <a href="/people/jules.html">
                          <div class="roundedimg" style="background:url(/img/people/jules.jpg);opacity:0.6;background-size:90%"></div>
                          Dr. Jules White, Research Group Director
                          </a>
                        </div>
                     </div>
                     <div class="row">
                     <h3>Alumni</h3>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/yu.jpg);opacity:0.6;background-size:100%"></div>
                          Dr. Yu Sun, Associate Professor, Dept. of Computer Science, Cal Poly Pomona
                        </div>


                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/hamilton.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Hamilton Turner, CTO & Entrepreneur 
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/joon.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Hyojoon Bae, Senior Research Scientist, Apple
                        </div>   
                       <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(https://722694.smushcdn.com/1292217/wp-content/uploads/2020/11/image001.jpg?lossy=1&strip=1&webp=1);opacity:0.6;background-size:100%"></div>
                          Dr. Dana Zhang, Assistant Professor, Dept. of Computer Science, Belmont University
                        </div>     
                    </div>
                    <div class="row">          
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/brandon.jpg);opacity:0.6;background-size:85%"></div>
                          Dr. Brandon Amos, Research Scientist, Facebook AI
                        </div>
                   
                     <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/tad.jpg);opacity:0.6;background-size:120%"></div>
                          Dr. Thaddeus Czauski, Lockheed Martin
                        </div>
                    <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/yao.jpg);opacity:0.6;background-size:110%"></div>
                          Dr. Yao Pan, Senior Software Engineer in AI, LinkedIn
                        </div>  
                    <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(https://media-exp1.licdn.com/dms/image/C5603AQHVAi8gQ3SW2w/profile-displayphoto-shrink_200_200/0?e=1611187200&v=beta&t=S4EIfE6GbRA7HN2mYAAweUkA4oogkzpYT5UdArWUQSA);opacity:0.6;background-size:110%"></div>
                          Dr. Fangzhou Sun, Research Scientist, Facebook
                        </div>  
                    </div>
                    
                    <div class="row">
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/brian.jpg);opacity:0.6;background-size:100%;background-position:0px 0px"></div>
                          Dr. Brian Dougherty, COO, Briovation
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/danny.jpg);opacity:0.6;background-size:120%;background-position:-40px -60px"></div>
                          Daniel Guymon, Lead Cloud Architect, Northrup Grumman
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/ben.png);opacity:0.6;background-size:120%"></div>
                          Ben Gotow, Entrepreneur 
                        </div>
                        <div class="span3" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/chris.jpg);opacity:0.6;background-size:80%;background-position:10px 0px"></div>
                          Chris Thompson, Entrepreneur 
                        </div>

                    </div>
                    <div class="row">
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/paul.jpg);opacity:0.6;background-size:100%;background-position:-40px 0px"></div>
                          Paul Miranda, Software Development Manager, Amazon 
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/zach.jpg);opacity:0.6;background-size:120%;background-position:-40px 0px"></div>
                          Zach McCormick, Engineering Senior Manager, Braze
                        </div>
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/austin.jpg);opacity:0.6;background-size:100%;background-position:0px -20px"></div>
                          Austin Hanlin, Data Engineer III, Trilliant Health
                        </div>   
                        <div class="span2" style="text-align:center; width:250px">
                          <div class="roundedimg" style="background:url(/img/people/jordan.jpg);opacity:0.6;background-size:200%;background-position:-100px -40px"></div>
                          Jordan Schweigert, Aerospace Engineer, Busek
                        </div>   
                    </div>

                </div>

            </div>
        </section>
